body {
    margin: 0;
    padding: 0;    
}


.navbar {
    background-image: url(company.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    top: 25px;
    flex-wrap: wrap;
}

li {
    float: right;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
}

a:hover {
   color: red;
}

.menu {
    margin-right: 20px;
}

.jumbotron {
    padding-top: 125px;
    width: 500px;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
}

.lead {
    font-weight: 300;
    font-size: 20px;
}

.heading {
    display: block;
    text-align: center; 
    margin-top: 100px;
}

.heading-1 {
    font-family: 'Architects Daughter';
    font-weight: bold;
    font-size: 35px;
}

.container-1 {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-1 .card {
    max-width: 300px;
    position: relative;
    flex-direction: column;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 10px;
    display: flex;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.5sec;
}

.container-1 .card .imgbox {
    position: relative;
    width: 260px;
    height: 173px;
    top: -60px;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
}

.container-1 .card .imgbox img {
    max-width: 100%;
    border-radius: 4px;
}

.container-1 .card:hover {
    height: 350px;
}

.container-1 .card .content {
    position: relative;
    margin-top: -140px;
    padding: 30px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3sec ease-in-out;
}

.container-1 .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3sec;
    cursor: pointer;
}


.setup {
    display: flex;
    flex-wrap: wrap;  
    justify-content:center;
}

#setup {
    margin-top: 100px;
    padding: 0 170px;
    font-weight: bold;
    font-family: 'Architects Daughter';
}

.setup-imgbox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 110 160;
}

.setup-imgbox img{
    width: 360px;
    height: 253px;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

}

.setup-imgbox img:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
   cursor: pointer;
}
    

hr {
    width: 25%;
    height: 2px;
    background-color: red;
    margin-left: 40px;
}

.setup-content {
    font-size: 19px;
    font-weight: 300;
    width: 320px;
}


.footer {
    background: #E4F9F5;
    height: 50px;
    
}

.reserved {
    text-align: center;
    padding: 10px;
}
